.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: light-dark(rgba(255, 255, 255, 0.5), var(--color-dark-theme));
  backdrop-filter: blur(10px);
}

@media (width <= 768px) {
  .menubar {
    display: flex;
    place-self: start;
    width: 100%;
  }
}
